{% extends 'base.html' %}
{% block content %}

<div class="auth .uk-container-xlarge" >
    <h1 class="uk-card-title uk-flex uk-flex-center uk-flex-middle" >Sign Up</h1>
    <div class=".uk-card-body uk-flex uk-flex-center uk-flex-middle">
        {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

        <form class="rform" method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn .uk-margin-bottom" value="Register!">
        </form>

    </div>
</div>

{% endblock %}