/* base styles */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(243, 235, 210);
    font-family: 'Inknut Antiqua', serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Inknut Antiqua', serif;
}

h4, h6 {
    border-bottom:  rgb(106, 82, 150) solid;
    margin: 0 auto;
    max-width: 90vw;
}
  
main {
    flex: 1 0 auto;
}

footer {
    padding-top: 1vh;
    text-align: center;
    background-color: #c5cbe3;
    color: #D79922;
}

.buttons {
    border-color: #D79922;
    background-color: #c5cbe3;
    align-self: center;
}

.card {
    border-left: #D79922 solid;
    border-bottom: #D79922 solid;
    background-color: white;
    margin: 2vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;

}

/* front page styles  */

#frontGallery{
    display: flex;
    border: #D79922 solid;
    margin: 2vw;
    padding: 1vw;
}

.front {
    border: rgb(106, 82, 150) solid;
    margin: 2vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
}

.front > p {
    border-bottom: #D79922 solid;
    text-align: center;
    margin-top: 3vh;
}

.front > img {
    max-width: 20vw;
    height:auto;
    margin: 0 auto;
}

.ad {
    max-width: 25vw;
}

/* post styles */

.post {
    border-left: #D79922;
    background-color: white;
    flex-direction: column;
    justify-content: left;
}


/* register styles */

.auth {
    margin: 5vh;
    border: #D79922 solid;
    background-color: white;
}
.auth >h1 {
    margin-top: 3vh;
}
.rform {
    margin-top: 3vh;
    margin-bottom: 4vh;
}

/* header styles */

.bg-img {
    background-image:url('/static/sunsetbg.png');
    min-height: 16vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

#greeting{
    background-color: #EFE2BA;
    padding: 1vh;
    border-radius: 25px;
    margin-top: -3vh;
    
}

.nav_pic_container {
    position: absolute;
    margin-top: -10vh;
    margin-left: 2vw;
    width: auto;
}

.topnav  {
    overflow: hidden;
    background-color:  rgb(106, 82, 150);
    color: #D79922;
    border-radius: 25px;
    margin-top: -1vh ;
    margin-left: 3vh;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1vh 1vw;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #D79922;
    color: #f2f2f2;
}

#nv {
    background-color: rgb(106, 82, 150);
    border-bottom: solid #d79922;
}

.bottomnav > li > a {
    color: #f2f2f2;
    padding: .5vh 3vw;
    font-weight: bold;
    min-height: 5vh;
    
}

.bottomnav > li > a:hover {
    background-color: #D79922;
    color: #f2f2f2;
}

/* modal styles  */

#projectUpdateDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#updateDescription {
    height: auto;
    width: auto;
}

/* questions styles */

#showQuestions {
    display: none;
    max-width: 10vw;
}

#hideQuestions {
    max-width: 10vw;
}

/* summary styles */
#domainHeader {
    margin-bottom: 0;
}
.projectSubtitle {
    margin-top: 0;
}

/* pictures styles */

#gallery{
    display: flex;
    flex-wrap: wrap;
    border: #D79922 solid;
    background-color: white;
    margin: 2vw;
    padding: 1vw;
}

.picard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pictures {
    max-width: 21vw;
    height: auto;
    margin: 1vw 3vw;
}

/* profile styles */

#npbutton {
    margin: auto;
    margin-bottom: 7vh;
}

/* about styles */

#selfie{
    max-width: 20vw;
    height: auto;
}

