{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit-icons.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Worldbuilder</title>

</head>
<body>
  <header>
    <div class="bg-img"></div>
    {% if user.is_authenticated %}
      <div class="nav_pic_container">
        <h5 id="greeting">Welcome back, {{user.username}} !</h5>
        <div class="topnav">
          <a href="{% url 'profile' %}">Profile</a>
          <a href="{% url 'logout' %}">Log Out</a>
        </div>
      </div>
    {% else %}
    <div class="nav_pic_container">
      <div class="topnav">
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Register</a>
      </div>
    {% endif %}
    </div>

    <nav id="nv" class=".uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav bottomnav">
          <li><a href="/">Worldbuilder</a></li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav bottomnav">
          <li><a href="{% url 'culture' %}">Culture</a></li>
          <li><a href="{% url 'geography' %}">Geography</a></li>
          <li><a href="{% url 'government' %}">Government</a></li>
          <li><a href="{% url 'history' %}">History</a></li>
          <li><a href="{% url 'religion' %}">Religion</a></li>
          <li><a href="{% url 'warfare' %}">Warfare</a></li>
          
        </ul>
      </div>
    </nav>
 
  </header>

  <main class="container uk-inline">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="page-footer">
    <div class="right">All Rights Reserved; Worldbuilder 2020 &nbsp;</div>
  </footer>
</body>
{% load static %}
  <script defer type="text/javascript" src="{% static "javascript/main.js" %}"></script>
  
</html>