
{% extends 'base.html' %}
{% block content %}
{% load static %}
  
    {% block specific %}
    {% endblock %}
    
    <div class=".uk-card uk-card-default card">
        {% if posts %}
            {% for post in posts %}
            <div class=".uk-card uk-card-default post {{post.position}}">
                <div class=".uk-card-body">
                <h4 class="uk-flex-center uk-flex-middle p{{post.pk}}">{{ post.title }}</h4>
                <p class=".uk-card-title uk-flex uk-flex-center uk-flex-middle"> by {{ post.author }} </p>
                <p class="uk-flex uk-flex-center uk-flex-middle p{{post.pk}}">{{ post.text }}</p>
                {% if user.username == post.author.username %}
                    <a href="/{{domain}}/post/{{post.pk}}/delete" class="buttons uk-button uk-button-default">Delete Post</a>
                    <a uk-toggle="target: #update-post" class="buttons uk-button uk-button-default openUpdatePost"
                     data-postid="{{post.pk}}" >Update Post</a>
                {% endif %}
                </div>
            </div>
            {% endfor %} 
        {% else %}
            <div>
                <p class="uk-flex-center uk-flex-middle">Looking for inspiration? Check out the questions.</p>
            </div>
        {% endif %}
        <button uk-toggle="target: #new-post" 
        class="uk-button uk-button-default uk-flex-center uk-flex-middle buttons" >Add a new post</button>
    </div>

     <!-- new post modal -->
    <div id="new-post" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <form method="POST">
              {% csrf_token %}
              {{ post_form.as_p }} <br><br>
              <input type="submit" class="buttons" value="Add Post">
            </form>
            {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
        </div>
    </div>

    <!-- update post modal -->
    <div id="update-post" uk-modal>
        <div class="uk-modal-dialog uk-modal-body" id="postUpdateDiv">
            <form name="postUpdateForm" action="{% url 'profile'}" method="POST">
            {% csrf_token %}
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title"><br>
                <label for="text">Text:</label><br>
                <textarea rows="20" cols="30" maxlength="500" id="updateText" name="text"></textarea><br><br>
                <label for="id_position">Position:</label>
                <select name="position" id="id_position">
                    <option value="Sum">Summary</option>
                    <option value="Shd">Section Header</option>
                    <option value="Ssc" selected="">Subsection</option>
                </select>
            <input type="submit" class="btn buttons" id="updatePostButton">
            </form>
            {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
        </div>
    </div>

    <div id="update-summary" uk-modal>
        <div class="uk-modal-dialog uk-modal-body" id="postUpdateDiv">
            <form name="summaryUpdateForm" action="{% url 'profile'}" method="POST">
            {% csrf_token %}
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title" value="Summary"><br>
                <label for="text">Text:</label><br>
                <textarea rows="20" cols="30" maxlength="500" id="updateSummaryText" name="text"></textarea><br><br>
                <label for="id_position">Position:</label>
                <select name="position" id="id_position">
                    <option value="Sum">Summary</option>
                    <option value="Shd">Section Header</option>
                    <option value="Ssc" selected="">Subsection</option>
                </select>
            <input type="submit" class="btn buttons" id="updatePostButton">
            </form>
            {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
        </div>
    </div>

{% endblock %}