{% extends 'base.html' %}
{% block content %}

<div class=".uk-card uk-card-default card" >
    <h1>Resources</h1> 
        <hr />
    <h5 class="projectSubtitle">Because reality is often stranger than fiction.</h5>

        <div class=".uk-card uk-card-default card" >
            <div class=".uk-card-body">
                <p>The following is a small index of resources that may be helpful in fleshing out your world. A world is a complicated thing to build, but you don't have to do it alone. </p>
                <p>Whether it's looking for advice on conquering writer's block, or consulting reddit to find information on pyramid architecture, the following links will help you get started on your world. But remember- no matter how much research you do, at some point you've got to stop researching and dive in! </p>
            </div>
        </div>

        <div class=".uk-card uk-card-default card" >
            <div class=".uk-card-body">
                <h6 class="uk-card-title"> for dungeon masters</h6>
                <ul>
                    <li><a href="https://dnd.wizards.com/articles/features/basicrules"> Wizards of the coast has provided basic DND rules for free in a pdf.</a></li>
                </ul>
                <ul>
                    <li><a href="https://dnd.wizards.com/products/digital-games/mobiletablet-pcmac/roll20"> For a nominal fee, Roll20 allows you to easily get started on playing Dnd online.</a></li>
                </ul>
                <ul>
                    <li><a href="http://kobold.club/fight/#/encounter-builder"> Kobold Fight Club helps dm's build out their encounters and calculate the experience that each party member will recieve.</a></li>
                </ul>
                <ul>
                    <li><a href="https://tabletopresources.tumblr.com/"> Tabletop resources is a tumblr dedicated to posting tabletop game related content, like custom maps, custom monsters, and more.</a></li>
                </ul>   
                <ul>
                    <li><a href="https://www.fantasynamegenerators.com/"> This fantasy name generator can help you get started on finding names for people and places in your campaign. </a></li>
                </ul>     
                <ul>
                    <li><a href="https://www.dungeonfog.com/"> Dungeon Fog allows you to easily create a custom map for your encounter. No more drawing out annoying grids! </a></li>
                </ul> 
            </div>
        </div>

        <div class=".uk-card uk-card-default card" >
            <div class=".uk-card-body">
                <h6 class="uk-card-title"> for writers</h6>
                <ul>
                    <li><a href="https://curiosityquills.com/limyaael/"> Limyaael's fantasy rants are a classic source of inspiration and analysis for those looking to avoid cliches in fantasy writing. With posts on topics ranging from non-linear narrative to titles, no topic goes untouched.</a></li>
                </ul>
                <ul>
                    <li><a href="https://susandennard.com/for-writers/"> Susan Dennard's tips address not only the specifics on writing, but also things like getting published.</a></li>
                </ul>
                <ul>
                    <li><a href="https://www.sfwriter.com/ow05.htm?utm_content=bufferf4471&utm_source=buffer&utm_medium=twitter&utm_campaign=Buffer"> Heinlein's rules of writing are short, but worth a read.</a></li>
                </ul>   
                <ul>
                    <li><a href="https://www.amazon.com/World-Building-Science-Fiction-Writing/dp/158297134X/ref=sr_1_1?s=books&ie=UTF8&qid=1296635137&sr=1-1"> Looking to build a realistic alien planet? Worldbuilder by Stephen L. Gillett will help you keep the possibilities grounded in up-to-date science. </a></li>
                </ul>             
            </div>
        </div>

        <div class=".uk-card uk-card-default card" >
            <div class=".uk-card-body">
                <h6 class="uk-card-title"> for thinking about culture</h6>
                <ul>
                    <li><a href="https://www.reddit.com/r/conlangs/wiki/resources"> r/conlangs is a subreddit dedicated to the construction of fictional languages, known as "conlangs". Their starting page will give you all the information you need to get started on writing your own languge. Sure, you could just make up some gibberish, but where's the fun in that? </a></li>
                </ul>
                <ul>
                    <li><a href="https://donjon.bin.sh/fantasy/demographics/"> The medieval demographics calculator allows you to enter in some numbers and get back the suggested population for an area. There's also a random town generator and a random inn generator linked on the same website!</a></li>
                </ul>
                <ul>
                    <li><a href="https://qcc.libguides.com/c.php?g=113203&p=736888"> Looking to incorporate music into your world? Let real life musical instruments inspire you with these guides from the Queensborough Community College.</a></li>
                </ul>                
            </div>
        </div>

        <div class=".uk-card uk-card-default card" >
            <div class=".uk-card-body">
                <h6 class="uk-card-title"> for thinking about geography</h6>
                <ul>
                    <li><a href="https://inkarnate.com/"> Inkarnate allows you to create beautiful maps for your world. </a></li>
                </ul>
                <ul>
                    <li><a href="https://azgaar.github.io/Fantasy-Map-Generator/"> Azgaar is a classicly styled map generator, for those looking for a grab and go alternative to inkarnate.</a></li>
                </ul>
                <ul>
                    <li><a href="https://php.radford.edu/~swoodwar/biomes/">This website cataloguing the major biomes of the world and their characteristics can be helpful when thinking about what kind of resources appear where.</a></li>
                </ul>                
            </div>
        </div>

        <div class=".uk-card uk-card-default card" >
            <div class=".uk-card-body">
                <h6 class="uk-card-title"> for thinking about government</h6>
                <ul>
                    <li><a href="https://www.familyecho.com/"> Is your royal family getting complicated? Make a family tree with this handy tool. </a></li>
                </ul>
                <ul>
                    <li><a href="https://medium.com/express-yourself/a-guide-to-the-political-offices-of-the-roman-republic-970c28c99b1d"> Tired of monarchy? Try letting this guide to roman political offices inspire you.</a></li>
                </ul>
                <ul>
                    <li><a href="https://php.radford.edu/~swoodwar/biomes/">If you're looking to create and empire, why not take the Tang dynasty as your model? Check out these resources on Tang dynasty political life.</a></li>
                </ul>                
            </div>
        </div>

        <div class=".uk-card uk-card-default card" >
            <div class=".uk-card-body">
                <h6 class="uk-card-title"> for thinking about history</h6>
                <ul>
                    <li><a href="https://www.lucidchart.com/pages/examples/timeline-maker"> Make yourself a timeline with this handy tool from lucid chart! </a></li>
                </ul>
                <ul>
                    <li><a href="https://earthhow.com/earth-timeline-geological-history-events/">Let this timeline of the earth's creation guide you as you think about the formation of your own planet.</a></li>
                </ul>                
            </div>
        </div>


        <div class=".uk-card uk-card-default card" >
            <div class=".uk-card-body">
              <p>Worldbuilder is not affliated with any of the above sites, and is not responsible for any of the content in the above links.</p>                
            </div>
        </div>

</div>

{% endblock %}