{% extends 'domain.html' %}
{% block specific %}

    <div class=".uk-card uk-card-default card">
        <h3 id="domainHeader">Culture</h5> <hr />
        <h5 class="projectSubtitle">{{current_project.name}}</h5>
        {% for summary in summaries %}
        <div class=".uk-card uk-card-default post {{post.position}}">
            <p class="uk-flex uk-flex-center uk-flex-middle p{{post.pk}}">Description: {{ post.text }}</p>
            {% if user.username == post.author.username %}
                <a uk-toggle="target: #update-post" class="buttons uk-button uk-button-default openUpdatePost"
                 data-postid="{{post.pk}}" >Update Post</a>
            {% endif %}
        </div>
        {% endfor %} 
    </div> 

    {% if user.is_authenticated %}
    <div class=".uk-card uk-card-default card">
        <div id="questions">
            <p>What arts are valued by this society? What instruments are available for music? What ingredients are available for cooking? What materials are available for painting, architecture, and sculpture? What styles of music are popular?</p>   
        </div>
        <button class="buttons" id=showQuestions>+</button>
        <button class="buttons" id=hideQuestions>-</button>
    </div>
    {% endif %}
    
{% endblock %}