{% extends 'base.html' %}
{% block content %}

    <h1>What is the culture of your world?</h1>
    <hr />

    <div class=".uk-card uk-card-default card">
        <h5 class="uk-flex uk-flex-center uk-flex-middle">Questions</h5>
        {% for question in questions %}
            <p class="uk-flex uk-flex-center uk-flex-middle"> Description: {{ question.text }}</p>
        {% endfor %} 
    </div>
    

    {% if posts %}
        {% for post in posts %}
        <div class=".uk-card uk-card-default card">
            <div class=".uk-card-body">
            <span class=".uk-card-title uk-flex uk-flex-center uk-flex-middle">{{ post.author }}</span>
            <p class="uk-flex uk-flex-center uk-flex-middle">Description: {{ post.text }}</p>
            </div>
        </div>
        {% endfor %} 
    {% else %}
        <h5>Looking for inspiration? Check out the questions.</h5>
    {% endif %}

{% endblock %}