{% extends 'domain.html' %}
{% block specific %}
    <div class=".uk-card uk-card-default card">
        <h3 id="domainHeader">Geography</h5> <hr />
        <h5 class="projectSubtitle"> of {{current_project.name}}</h5>
        {% for summary in summaries %}
        <div class=".uk-card uk-card-default post {{summary.position}}">
            <p class="uk-flex uk-flex-center uk-flex-middle p{{summary.pk}}">{{ summary.text }}</p>
            <a uk-toggle="target: #update-summary" class="buttons uk-button uk-button-default openUpdateSummary"
                data-summaryid="{{summary.pk}}">Update Post</a>
        </div>
        {% endfor %}
    </div>

    {% if user.is_authenticated %}
        <div class=".uk-card uk-card-default card">
            <div id="questions">
            <p>What resources are commonly available from the landscape? Are there bodies of water for fishing? Are there forests or mountains? What methods of transportation are there, and how fast do they go? What obstacles are there, and how do people get around them?</p>
            </div>
            <button class="buttons" id=showQuestions>+</button>
            <button class="buttons" id=hideQuestions>-</button>
        </div>
    {% endif %}

{% endblock %}