{% extends 'domain.html' %}
{% block specific %}
    <div class=".uk-card uk-card-default card">
        <h3 id="domainHeader">Warfare</h5> 
        <hr />
        <h5 class="projectSubtitle">of {{current_project.name}}</h5>
        {% for summary in summaries %}
        <div class=".uk-card uk-card-default post {{summary.position}}">
            <p class="uk-flex uk-flex-center uk-flex-middle p{{summary.pk}}">{{ summary.text }}</p>
            <a uk-toggle="target: #update-summary" class="buttons uk-button uk-button-default openUpdateSummary"
                data-summaryid="{{summary.pk}}">Update Post</a>
        </div>
        {% endfor %}
    </div>
    
{% if user.is_authenticated %}
    <div class=".uk-card uk-card-default card">
        <div id="questions">
            <p>When was the last war? Who was it against? What kinds of armor are available, and how commonly are they used? What weapons are available? What's the state of medical etchnology? What is the status of soldiers in society?</p>   
        </div>
        <button class="buttons" id=showQuestions>+</button>
        <button class="buttons" id=hideQuestions>-</button>
    </div>
{% endif %}

{% endblock %}